{% extends 'base.html' %}
{% block body %}

<div class="container">
  <div class="row gy-5">
      {% for i in food_list %}
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
                <a href="{% url 'foodapp:detail'%}" class="glightbox">
                    <img src="{{i.img.url}}" class="card-img-top" alt="Card image cap"></a>
                <div class="card-body">
                    <h5 class="card-title">{{i.name}}</h5>
                     <p class="card-text">{{i.desc}}</p>
                    <a href="#" class="btn btn-primary">{{i.rate}}$</a>
                </div>
      </div>
    </div>
      {% endfor %}
  </div>


</div>

{% endblock %}
